<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Recommendation webpage</title>
</head>
<body>
    <header>
        <form id="form">
            <input type="text" placeholder="Search" id="search" class="search">
        </form>
    </header>

    <main id="main">
    

    </main>
    <script src="../static/js/script.js"></script>
</body>
</html>